@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  color: #fff;
  text-decoration: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.screen {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.screen__title {
  font-size: 4.5rem;
  font-family: 'gagalin';
  font-weight: 400;
  color: #f9b43b;
  margin-bottom: 0.9375rem; }
  .screen__title.screen__title--black {
    color: #2f3234; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1rem;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  font-size: 0.8125rem;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .order-link:hover {
    background-color: #ce401a; }

.pagination {
  position: fixed;
  right: 5%;
  top: 10%;
  color: #fff; }

.home {
  background-image: url("../img/home-screen/bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  padding-top: 10px; }

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  margin-right: auto; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.menu {
  margin-right: 0.9375rem; }

.menu__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__item:after {
    content: ' ';
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 1rem; }
  .menu__item:last-child:after {
    display: none; }

.menu__item-link {
  display: inline-block;
  padding: 3px 0;
  white-space: nowrap;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase; }
  .menu__item-link:hover {
    text-decoration: underline; }

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.home__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 5%; }

.content__img, .content__description {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.content__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.content__description-text {
  color: #fff;
  font-family: 'lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1; }

.next-page-link {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  background: url("../img/icons/arrow-scroll.svg") center center no-repeat;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .next-page-link:hover {
    background-color: #ce401a; }

.features {
  background-image: url("../img/features-screen/bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.screen-title {
  margin-bottom: 3.125rem; }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0.9375rem;
  margin-bottom: 2.1875rem; }

.features__img {
  margin-bottom: 1.5625rem; }

.features__icon {
  width: 6.0625rem;
  height: 5.5625rem; }

.features__title {
  font-size: 1.5rem;
  font-family: "lifehack";
  margin-bottom: 0.9375rem; }

.features__text {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8; }

.reviews__list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }
  .reviews__item:hover .reviews__content {
    opacity: 1;
    background-color: rgba(22, 22, 22, 0.7); }

.reviews__avatar {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.visuallhydden1 {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0; }

.reviews__content {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  padding: 17% 7%;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.reviews__name {
  font-family: "gagalin", cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 1.9375rem; }

.reviews__text {
  line-height: 1.7;
  margin-bottom: 1rem; }

.reviews__btn {
  min-width: 6.875rem;
  border: none;
  border-radius: 5px;
  padding: 0.625rem 1rem;
  font-size: 0.8125rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: #2f3234; }
  .reviews__btn:hover {
    background-color: #1e2021; }
