@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  color: #fff;
  text-decoration: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.screen {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container {
  width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  @media (max-width: 768px) {
    .container {
      max-width: 45rem;
      width: 95%; } }
  @media (max-width: 480px) {
    .container {
      max-width: 28.75rem;
      width: 95%; } }

.screen__title {
  font-size: 4.5rem;
  font-family: 'gagalin';
  font-weight: 400;
  color: #f9b43b;
  margin-bottom: 0.9375rem; }
  @media (max-width: 480px) {
    .screen__title {
      font-size: 3.9375rem; } }
  .screen__title.screen__title--black {
    color: #2f3234; }
  .screen__title--white {
    color: #fff; }
  .screen__title--left-down {
    margin-left: -0.9375rem;
    margin-bottom: 1.875rem; }
  .screen__title--left-top {
    position: absolute;
    top: 7rem;
    left: 5.625rem; }

footer {
  position: relative; }

.order-link {
  display: inline-block;
  min-width: 6.125rem;
  padding: 0.625rem 1rem;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  font-size: 0.8125rem;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: inline-block; }
  .order-link:hover {
    background-color: #ce401a; }

.btn {
  font-size: 0.8125rem;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  padding: 0.625rem 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  background-color: #e45028; }
  .btn:hover {
    background-color: #ce401a; }

.pagination {
  position: fixed;
  right: 5%;
  top: 10%;
  color: #fff; }

.home {
  background-image: url("../img/home-screen/bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }
  @media (max-width: 768px) {
    .header {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.header__logo {
  margin-right: auto; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .nav__list {
      display: none; } }

.nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: ' ';
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 1rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__item-link {
  display: inline-block;
  padding: 3px 0;
  white-space: nowrap;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase; }
  .nav__item-link:hover {
    text-decoration: underline; }

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (max-width: 768px) {
    .header__btn {
      margin-right: 1.4375rem; } }

.hamburger {
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  cursor: pointer;
  overflow: hidden;
  width: 0; }
  @media (max-width: 768px) {
    .hamburger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 23px; } }

.hamburger__item {
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 3px; }

.home__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 15%; }

.content__img, .content__description {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .content__img, .content__description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0;
      width: auto; } }

.content__pic {
  max-width: 100%; }

.content__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 5px; }
  @media (max-width: 768px) {
    .content__description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      padding: 0 20%; } }

.content__description-text {
  color: #fff;
  font-family: 'lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -1px; }
  @media (max-width: 480px) {
    .content__description-text {
      font-size: 3.375rem; } }

.home__next-page-pointer {
  position: absolute;
  top: 88%;
  left: 47%; }

.next-page-link {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  background: url("../img/icons/arrow-scroll.svg") center center no-repeat;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .next-page-link:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.features {
  background-image: url("../img/features-screen/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.screen-title {
  margin-bottom: 3.125rem; }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0.9375rem;
  padding-top: 15px;
  margin-bottom: 2.1875rem; }

.features__img {
  margin-bottom: 1.5625rem; }

.features__icon {
  width: 6.0625rem;
  height: 5.5625rem; }

.features__title {
  display: inline-block;
  text-align: center;
  font-family: "lifehack";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 0.9375rem; }

.features__text {
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8; }

.team {
  background-image: url("../img/team-screen/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.team__container {
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(47, 50, 52, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 5% 2% 0 7.5%;
  position: absolute; }
  @media (max-width: 768px) {
    .team__container {
      width: 100%;
      padding: 0; } }

.team-acco__item {
  margin-bottom: 1.0625rem; }
  .team-acco__item:last-child {
    margin-bottom: 0; }

.team-acco__trigger {
  color: #fff;
  font-size: 0.875rem;
  font-family: 'gagalin',Arial, Helvetica, sans-serif;
  font-size: 400;
  text-transform: uppercase;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0.625rem;
  cursor: pointer; }
  @media (max-width: 768px) {
    .team-acco__trigger {
      font-size: 1.5rem; } }
  .team-acco__trigger:before, .team-acco__trigger:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.125rem;
    top: 0.5rem;
    width: 0;
    height: 0; }
  .team-acco__trigger:before {
    border-top: 0.375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .team-acco__trigger:after {
    display: none;
    border-bottom: 0.375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0rem solid transparent; }

.team-acco__content {
  display: none;
  overflow: hidden; }

.team-acco__pic {
  display: block;
  text-align: center;
  width: 6.25rem;
  height: 6.25rem;
  padding-top: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.team-acco__desc {
  display: inline-block;
  margin-left: 1.25rem; }

.team-acco__desc-title {
  display: inline-block;
  font-family: "ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.9375rem; }

.team-acco__desc-text {
  display: inline-block;
  font-family: "ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 0.875rem; }

.team-acco__item--active .team-acco__trigger {
  color: #f9b43b; }
  .team-acco__item--active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    vertical-align: unset; }

.team-acco__item--active .team-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 7.5rem;
  max-height: 15.625rem;
  margin-bottom: 1.375rem; }

.menu {
  background-image: url("../img/menu-screen/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  overflow: hidden; }

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-acco__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-acco__trigger {
  width: 5rem;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: relative; }

.menu-acco__trigger-text {
  white-space: nowrap;
  font-family: "gagalin",Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-bottom: 12.5rem; }

.menu-acco__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden;
  padding: 10% 0; }

.menu-acco__text {
  font-family: 'ubuntu',Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff;
  padding: 3.75rem 2rem;
  line-height: 1.8;
  display: none; }

.menu-acco__item--active .menu-acco__trigger-text {
  color: #f9b43b; }

.menu-acco__item--active .menu-acco__content {
  width: 33.75rem; }
  .menu-acco__item--active .menu-acco__content .menu-acco__text {
    display: inline-block; }
  @media (max-width: 768px) {
    .menu-acco__item--active .menu-acco__content {
      width: 21.25rem; } }
  @media (max-width: 480px) {
    .menu-acco__item--active .menu-acco__content {
      width: 13.75rem; } }

.reviews__list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }
  .reviews__item:hover .reviews__content {
    opacity: 1;
    background-color: rgba(20, 20, 20, 0.7); }

.reviews__avatar {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.visuallhydden1 {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0; }

.reviews__content {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 17% 7%;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.reviews__name {
  font-family: "gagalin", cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 1.9375rem; }

.reviews__text {
  line-height: 1.7;
  margin-bottom: 1rem; }

.reviews__btn {
  width: 6.875rem;
  border: none;
  border-radius: 5px;
  padding: 0.625rem 1rem;
  font-size: 0.8125rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: #2f3234; }
  .reviews__btn:hover {
    background-color: #1e2021; }

.order {
  background-image: url("../img/order-screen/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .form__col {
    width: 49%; }
    @media (max-width: 768px) {
      .form__col {
        width: auto;
        padding: 0 16%; } }
    @media (max-width: 480px) {
      .form__col {
        padding: 0; } }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.125rem; }
  @media (max-width: 480px) {
    .form__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .form__block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 1.25rem; }
    .form__block:last-child {
      margin-right: 0; }

.form__block-title {
  display: block;
  color: #fff;
  margin-bottom: 0.4375rem;
  font-weight: 300;
  font-size: 0.875rem; }
  .form__block-title--buttons {
    margin-bottom: 0;
    margin-left: 0.625rem; }

.form__input {
  width: 100%;
  border: 1px solid transparent;
  font-size: 0.875rem;
  border-radius: 0.3125rem;
  padding: 0.4375rem 0.9375rem;
  outline: none; }
  .form__input--textarea {
    height: 6.875rem;
    resize: none; }
  .form__input:focus {
    border: 1px solid #f9b43b; }

.form__radio,
.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1rem; }

.form__radio-input,
.form__checkbox-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden; }

.form__radio-fake {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff; }
  .form__radio-fake::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #e45028;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form__radio-input:checked + .form__radio-fake::before {
  width: 0.5rem;
  height: 0.5rem; }

.form__checkbox-fake {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  position: relative; }

.form__checkbox-input:checked + .form__checkbox-fake::before {
  content: '';
  background: url("../img/order-screen/check.png") 50% no-repeat;
  background-size: contain;
  width: 11px;
  height: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.btn--reset {
  background-color: transparent;
  text-transform: unset;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn--reset:hover {
    background-color: black; }

.map {
  background-image: url("../img/map-screen/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("../img/map-screen/footer.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0.4375rem 0; }
  @media (max-width: 480px) {
    .footer {
      padding: 1rem 0; } }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around; }
    @media (max-width: 480px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .footer__col {
    width: 50%;
    margin-bottom: 0.875rem; }
    @media (max-width: 480px) {
      .footer__col {
        width: 100%;
        text-align: center; } }
  .footer__adress {
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0.3125rem; }
  .footer__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #e45028; }
    .footer__phone::before {
      content: '';
      width: 0.8125rem;
      height: 0.8125rem;
      margin-right: 0.4375rem;
      background-image: url("../img/icons/phone.svg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (max-width: 480px) {
    .footer__col_right {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .socials__item {
    margin-left: 1.1875rem; }
    .socials__item:first-child {
      margin-left: 0; }
  .socials__link:hover .socials__link-icon {
    opacity: 1; }
  .socials__link-icon {
    width: 1.3125rem;
    height: 1.3125rem;
    fill: white;
    opacity: .3;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

.points-menu {
  position: fixed;
  top: 15%;
  right: 5%; }
  @media (max-width: 768px) {
    .points-menu {
      display: none; } }
  @media (max-width: 480px) {
    .points-menu {
      display: none; } }

.points-menu__item {
  margin-bottom: 0.3125rem; }
  .points-menu__item:last-child {
    margin-bottom: 0; }

.points-menu__link {
  width: 1rem;
  height: 1rem;
  display: block;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-bottom: 0.3125rem;
  opacity: 1; }
  .points-menu__link::after, .points-menu__link::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .points-menu__link::after {
    width: 0.375rem;
    height: 0.375rem;
    background: #fff; }
  .points-menu__link::before {
    width: 0;
    height: 0;
    border: 1px solid #fff;
    opacity: 0; }
  .points-menu__link:hover::before {
    width: 1rem;
    height: 1rem;
    opacity: 1; }

.points-menu__item--active .points-menu__link::before {
  width: 1rem;
  height: 1rem;
  opacity: 1; }

/*# sourceMappingURL=main.css.map */