//Font Weight
$boldFont: 700;
$mediumFont: 500;
$regularFont: 400;
$lightFont: 300;

//Color

$orange: #e45028;
$orange-dark: #c1401e;
$yellow: #f9b43b;
$green: #8ac03e;
$dark: #2f3234;
$white: #fff;

