.home {
  background-image: url('../img/home-screen/bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.header {
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding-top: 10px;
}
.header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}

// антипаттерн
.header__menu{
  display: flex;
  flex-wrap: nowrap;
}
.menu {
    margin-right: rem(15px);
 }
.menu__list{
  margin: 0;
  padding: 0;
  display:flex;
}  
.menu__item {
    position: relative;
    display: flex;
    align-items: center;

    &:after {
      content: ' ';
      @include circle(rem(4px), $white);
      margin: 0 rem(16px);
    }
    &:last-child:after {
      display: none;
    }
}
  
.menu__item-link {
    display: inline-block;
    padding: 3px 0;

    white-space: nowrap;
    font-size: rem(13px);
    font-weight: 500;    
    text-transform: uppercase; 

    &:hover {
      text-decoration: underline;
    }
}

.header__btn{
    
display: flex;
justify-content: flex-end;
}

.home__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 15%;
}

.content__img, .content__description {
  width: 50%;
  display: flex;
}


.content__description {
  flex-direction: column;
  justify-content: center;
  padding-top:5px;
}


.content__description-text {
  color: $white;
  font-family: 'lifehack';
  font-size: rem(65px);
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -1px;
}
.home__next-page-pointer{
  position: absolute;
	top: 88%;
	left: 47%;
}
.next-page-link {
  width: rem(50px);
  height: rem(50px);
  border: none; 
  background: url("../img/icons/arrow-scroll.svg") center center no-repeat;

  cursor: pointer;
  transition: .5s; 
  display: inline-block;

  &:hover {
    transform: scale(1.2);
  }
}
