.team {
    background-image: url('../img/team-screen/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  
  .team__container {
    width: 50%;
    right: 0;
	  top: 0;
    bottom: 0;

  	background-color: rgba(47, 50, 52, 0.93);
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
    align-items: flex-start;

    padding: 5% 2% 0 7.5%;   

    position: absolute;
    
    @include tablets {
        width: 100%;
        padding: 0;
    }
}

.team-acco__item {
  margin-bottom: rem(17px);
  
	&:last-child {
		margin-bottom: 0;
	}
}

.team-acco__trigger {
	color: #fff;
  font-size: rem(14px);
  font-family: 'gagalin',Arial, Helvetica, sans-serif;
  font-size: 400;
  text-transform: uppercase;
  
  position: relative;
  display: inline-flex;
  margin-bottom: rem(10px);
  
  @include tablets() {
    font-size: rem(24px);
  }

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		left: rem(-18px);
		top: rem(8px);
		width: 0;
    height: 0;
  }
  
	&:before {
		border-top: rem(6px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .3s;
	}

	&:after {
		display: none;
		border-bottom: rem(6px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-top: rem(0px) solid transparent;
	}

}

.team-acco__content {
  display: none;
  overflow: hidden;
}

.team-acco__pic {
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

.team-acco__img {
  display:inline-block;
	width: rem(100px);
  height: rem(100px);
  text-align: center;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.team-acco__desc {
  display: inline-block;
  margin-left: rem(20px);
}

.team-acco__desc-title {
  display: inline-block;
  font-family: "ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 700;
	font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(15px);
}

.team-acco__desc-text {
  display: inline-block;
  font-family: "ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
	color: #fff;
	font-size: rem(14px);
}

.team-acco__item--active {

	.team-acco__trigger {
		color: $yellow;

		&:before {
      transform: rotate(-180deg);
      vertical-align: unset;
    }

  }
  .team-acco__content {
    display: flex;
    min-height: rem(120px);
    max-height: rem(250px);
    margin-bottom: rem(22px);
  }	
}