
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(10px) 0;
}

.header__logo {
  margin-right: auto;
}
// антипаттерн
.menu {
  margin-right: rem(15px);
  &__list {
    margin: 0;
    padding: 0;
  }
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(rem(5px), $white);
    margin: 0 rem(12px);
  }
  &:last-child:after {
    display: none;
  }
}

.menu__link {
  font-size: rem(13px);
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    text-decoration: underline;
  }
}

// .header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: rem(10px) 0;
  
//     &__menu {
//       margin-left: auto;
//     }
  
//     &__buttons {
//       display: flex;
//       margin-left: rem(15px);
//     }
//   }
  
//   .logo__link {
//     display: block;
//     width: rem(94px);
//     height: rem(69px);
//   }
  
//   .logo__img {
//     max-width: 100%;
//   }
  
//   .order-btn {
//     background-color: $red;
  
//     &:hover {
//       background-color: $dark-red;
//     }
//   }
  

